absl-py==2.0.0
anyio==4.0.0
appnope==0.1.3
argon2-cffi==23.1.0
argon2-cffi-bindings==21.2.0
arrow==1.3.0
asgiref==3.7.2
asttokens==2.4.1
astunparse==1.6.3
async-lru==2.0.4
async-timeout==4.0.3
attrs==23.1.0
autobahn==23.6.2
Automat==22.10.0
babe==0.0.7
Babel==2.13.1
backports.entry-points-selectable==1.1.0
beautifulsoup4==4.12.2
bleach==6.1.0
blinker==1.7.0
bs4==0.0.1
cachetools==5.3.2
certifi==2023.7.22
cffi==1.16.0
channels==4.0.0
channels-redis==4.1.0
chardet==4.0.0
charset-normalizer==3.3.2
click==8.1.7
comm==0.2.0
config2py==0.0.3
constantly==23.10.4
cryptography==41.0.5
daphne==4.0.0
debugpy==1.8.0
decorator==5.1.1
defusedxml==0.7.1
distlib==0.3.2
Django==3.2.5
django-cors-headers==4.3.0
django-countries==7.2.1
django-crispy-forms==1.12.0
django-filter==23.3
django-phonenumber-field==5.2.0
djangorestframework==3.14.0
dol==0.1.28
exceptiongroup==1.2.0
executing==2.0.1
fastjsonschema==2.19.0
filelock==3.0.12
Flask==3.0.0
Flask-Cors==4.0.0
Flask-JWT-Extended==4.5.3
flask-marshmallow==0.15.0
Flask-SQLAlchemy==3.1.1
flatbuffers==23.5.26
fqdn==1.5.1
gast==0.5.4
google-auth==2.24.0
google-auth-oauthlib==1.1.0
google-pasta==0.2.0
graze==0.0.11
greenlet==3.0.1
grpcio==1.59.3
h5py==3.10.0
hyperlink==21.0.0
idna==2.10
importlib-metadata==7.0.0
importlib-resources==5.2.2
incremental==22.10.0
ipykernel==6.27.0
ipython==8.17.2
isoduration==20.11.0
itsdangerous==2.1.2
jedi==0.19.1
Jinja2==3.1.2
json5==0.9.14
jsonpointer==2.4
jsonschema==4.20.0
jsonschema-specifications==2023.11.1
jupyter-events==0.9.0
jupyter-lsp==2.2.0
jupyter_client==8.6.0
jupyter_core==5.5.0
jupyter_server==2.11.0
jupyter_server_terminals==0.4.4
jupyterlab==4.0.9
jupyterlab-pygments==0.2.2
jupyterlab_server==2.25.2
keras==2.15.0
libclang==16.0.6
Markdown==3.5.1
MarkupSafe==2.1.3
marshmallow==3.20.1
marshmallow-sqlalchemy==0.29.0
matplotlib-inline==0.1.6
mistune==3.0.2
ml-dtypes==0.2.0
msgpack==1.0.7
mysqlclient==2.2.0
nbclient==0.9.0
nbconvert==7.11.0
nbformat==5.9.2
nest-asyncio==1.5.8
notebook_shim==0.2.3
numpy==1.26.2
oauthlib==3.2.2
opencv-python==4.8.1.78
openmodelzoo-modelapi @ file:///Users/nguyenquanghai/Desktop/open_model_zoo/demos/common/python
opt-einsum==3.3.0
overrides==7.4.0
packaging==23.2
pandas==1.3.1
pandocfilters==1.5.0
parso==0.8.3
pexpect==4.8.0
phonenumbers==8.12.28
Pillow==10.1.0
pipenv==2021.5.29
platformdirs==4.0.0
prometheus-client==0.19.0
prompt-toolkit==3.0.41
protobuf==4.23.4
psutil==5.9.6
ptyprocess==0.7.0
pure-eval==0.2.2
py2store==0.1.2
pyasn1==0.5.0
pyasn1-modules==0.3.0
pycparser==2.21
Pygments==2.17.2
PyJWT==2.8.0
PyMySQL==1.1.0
pyOpenSSL==23.3.0
python-dateutil==2.8.2
python-json-logger==2.0.7
pytz==2023.3.post1
PyYAML==6.0.1
pyzmq==25.1.1
redis==5.0.1
referencing==0.31.0
requests==2.31.0
requests-oauthlib==1.3.1
rfc3339-validator==0.1.4
rfc3986-validator==0.1.1
rpds-py==0.13.1
rsa==4.9
scipy==1.11.4
Send2Trash==1.8.2
service-identity==23.1.0
six==1.16.0
sniffio==1.3.0
soupsieve==2.5
SQLAlchemy==2.0.23
sqlparse==0.4.4
stack-data==0.6.3
tensorboard==2.15.1
tensorboard-data-server==0.7.2
tensorflow==2.15.0
tensorflow-estimator==2.15.0
tensorflow-io-gcs-filesystem==0.34.0
termcolor==2.4.0
terminado==0.18.0
tinycss2==1.2.1
tomli==2.0.1
tornado==6.3.3
traitlets==5.13.0
Twisted==23.10.0
txaio==23.1.1
types-python-dateutil==2.8.19.14
typing_extensions==4.8.0
uri-template==1.3.0
urllib3==1.26.18
virtualenv==20.7.0
virtualenv-clone==0.5.6
wcwidth==0.2.12
webcolors==1.13
webencodings==0.5.1
websocket-client==1.6.4
Werkzeug==3.0.1
whitenoise==6.6.0
wrapt==1.14.1
zipp==3.5.0
zope.interface==6.1
